.banner {
    background-image: url("images/contact-header.jpg");
}
article {
    padding-bottom: 20px; 
}
.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details ul {
    font-size: 24px;
}
article form label, article form input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
article form input, article form textarea {
    width: 100%;
    margin: 7px 0;
    
}
article form textarea {
    height: 200px;
}
article form input[type="submit"] {
    background-color: #d3000b;
    border: none;
    padding: 6px 2px;
    width: 20%;
    float: right;
    color: white;
}
@media only screen and (max-width: 550px) {
    .details ul, .details p {
        font-size: 16px;
    }
    h2 {
        font-size: 30px;
    }
    article form input[type="submit"] {
        width: 50%;
    }
}