.homeOpen video {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 4px;
    object-fit: cover;
}
.homeOpen div {
    
    position: absolute;
    bottom: 25px;
    left: 49%;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 40s;
}
.homeOpen div i {
    font-size: 60px;
    color: white;
}
@keyframes arrow {
    0% {bottom: 25px;}
    20% {bottom: 60px;}
    40% {bottom: 25px;}
    60% {bottom: 60px;}
    100% {bottom: 25px;}
}
.intro {
    display: flex;
    justify-content: space-between;
}
.intro img {
    width: 35vw;
    box-shadow: 7px 8px 8px 0 rgb(0 0 0 / 38%), 0 6px 20px 0 rgb(0 0 0 / 38%);
}
.intro div {
    margin-left: 2vw;
    float: right;
    margin-top: 15px;
}
.awards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.awards img {
    height: 140px;
    opacity: 0.5;
}
.awards img:hover {
    opacity: 1;
}
.featuredStudy {
    display: flex;
}
.featuredStudy img {
    max-height: 50vh;
    width: 30vw;
    box-shadow: 7px 8px 8px 0 rgb(0 0 0 / 38%), 0 6px 20px 0 rgb(0 0 0 / 38%);
}
.featuredStudy div {
    margin-left: 30px;
    margin-top: 11vh;
    width: 50%;
}
.featuredStudy div p {
    text-align: justify;
}
.featuredStudy div a {
    color: black;
    text-decoration: underline #d3000b 3px;
    font-size: 20px;
    float: right;
    font-weight: bold;
}
.ourValues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ourValues h2 {
    width: 100%;
}
.ourValues img {
    width: 40%;
    float: right;
    margin-top: 20px;
    box-shadow: 7px 8px 8px 0 rgb(0 0 0 / 38%), 0 6px 20px 0 rgb(0 0 0 / 38%);

}
.values {
    font-size: 20px;
    width: 48%;
    margin-left: 2%;
    line-height: 150%;
    margin-top: 35px;
}
.values li {
    margin-bottom: 25px;
}
.values i {
    color: #d3000b;
    margin-right: 5px;
}
.values span {
    font-weight: bold;
    font-size: 22px;
}