.homeOpen video {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 4px;
    object-fit: cover;
}
.homeOpen div {
    
    position: absolute;
    bottom: 25px;
    left: 49%;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 40s;
}
.homeOpen div i {
    font-size: 60px;
    color: white;
}
@keyframes arrow {
    0% {bottom: 25px;}
    20% {bottom: 60px;}
    40% {bottom: 25px;}
    60% {bottom: 60px;}
    100% {bottom: 25px;}
}
.awards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.awards img {
    height: 120px;
    opacity: 0.5;
}
.awards img:hover {
    opacity: 1;
}