.roads {
    background-image: url("../stylesheets/images/roadworks-banner.jpg");
}
.concrete {
    background-image: url("../stylesheets/images/concrete-banner.jpg");
}
.earthworks {
    background-image: url("../stylesheets/images/earthworks-banner.jpg");
}
.groundworks {
    background-image: url("../stylesheets/images/groundworking-banner.jpg");
}
.landscaping {
    background-image: url("../stylesheets/images/landscaping-banner.jpg");
}
.maintenance {
    background-image: url("../stylesheets/images/maintenance-banner.jpg");
}


