.roads {
    background-image: url("../stylesheets/images/roadworks-banner.jpg");
}
.roadsTitle h1 {
    font-size: 36px;
    padding-top: 5vh;
}
.concrete {
    background-image: url("../stylesheets/images/concrete-banner.jpg");
}
.concreteTitle h1 {
    font-size: 42px;
    padding-top: 3vh;
}
.earthworks {
    background-image: url("../stylesheets/images/earthworks-banner.jpg");
}
.earthworksTitle h1 {
    font-size: 46px;
    padding-top: 6vh;
}
.groundworks {
    background-image: url("../stylesheets/images/groundworking-banner.jpg");
}
.groundworksTitle h1 {
    font-size: 46px;
    padding-top: 7.5vh;
}
.landscaping {
    background-image: url("../stylesheets/images/landscaping-banner.jpg");
}
.landscapingTitle h1 {
    font-size: 46px;
    padding-top: 7vh;
}
.maintenance {
    background-image: url("../stylesheets/images/maintenance-banner.jpg");
}
.maintenanceTitle h1 {
    font-size: 40px;
    padding-top: 4vh;
}

