body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1, h2, h3, p {
    margin: 0;
    margin-bottom: 40px;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
h2 {
    font-size: 34px;
}
p {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin-bottom: 5px;
}
img {
    object-fit: cover;
}
/*
* Header Styling
*/
header {
    display: flow-root;
    background-color: #d30009;
    width: 100vw;
}
header img {
    width: 15vw;
    max-width: 105px;
    min-width: 90px;
    height: auto;
    float: left;
    padding-left: 2vw;
    padding-top: 5px;
}
header img:hover {
    cursor: pointer;
}
header nav {
    float: right;
    display: flex;
    width: 50vw;
    justify-content: space-between;
    max-height: 50%;
    padding-top: 45px;
    padding-right: 2.5vw;
}
header li {
    list-style-type: none;
}
header li a {
    color: #fff;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
header .icon {
    display: none;
}
@media only screen and (max-width: 870px) {
    .topnav {
        display: none;
    }
    header .icon {
        display: block;
        font-size: 50px;
        margin-top: 3vw;
        float: right;
        margin-right: 2vw;
    }
    .topnav.responsive {
        display: block;
        float: left;
        text-align: center;
        padding-top: 0;
        width: 100%;
    }  
}
/*
* Main page styling
*/
main article {
    width: 70%;
    padding: 50px 15%; 
}
main article.grey {
    background-color: #E0E0E0;
}
@media only screen and (max-width: 900px) {
    main article {
        width: 80%;
        padding: 30px 10%; 
    }
}
@media only screen and (max-width: 550px) {
    main article {
        width: 90%;
        padding: 30px 5%; 
    }
}
/*
*Footer styling
*/
footer {
    background-color: #000;
    color: #fff;
}
footer article {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 4vw;
}
footer article h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
footer article section {
    min-width: 235px;
    margin-bottom: 20px;
}
footer article section li {
    font-size: 20px;
}
footer article section.form {
    width: 350px;
    max-width: 70vw;
    margin-bottom: 0;
}
footer article section form input, footer article section form textarea {
    width: 100%;
    margin-bottom: 5px;
}
footer article section form textarea {
    height: 80px;
}
footer article section form label {
    margin-top: 5px;
}
footer article section form input[type = "submit"] {
    width: 30%;
    float: right;
    border: none;
    background-color: #d30009;
    color: white;
    font-size: 16px;
    padding: 5px;
}
footer article section div i {
    font-size: 28px;
    margin-right: 15px;
}
footer article.second {
    justify-content: space-between;
}
footer article.second section{
    margin-bottom: 0;
}
footer article.second section p {
    font-size: 16px;
    margin-bottom: 0;
}
footer article.second section span {
    font-size: 19px;
}
footer article.second section a {
    text-decoration: underline;
}

/*
* Banner styling 
*/
.banner {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.banner h1 {
    float: left;
    width: 35%;
    font-size: 6vw;
    text-decoration: underline #d30009;
    margin-top: 10vh;
    text-align: center;
}
.banner img {
    width: 65%;
    max-height: 65vh;
    float: right;
}
