body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1, h2, h3, p {
    margin: 0;
    margin-bottom: 20px;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
h2 {
    font-size: 34px;
}
p {
    font-size: 20px;
    line-height: 150%;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline #d3000b 3px;
    cursor: pointer;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin-bottom: 5px;
}
img {
    object-fit: cover;
}
/*
* Header Styling
*/
header {
    display: flow-root;
    background-color: #d3000b;
    width: 100vw;
}
header img {
    width: 15vw;
    max-width: 105px;
    min-width: 90px;
    height: auto;
    float: left;
    padding-left: 7.5vw;
    padding-top: 5px;
}
header img:hover {
    cursor: pointer;
}
header nav {
    float: right;
    display: flex;
    width: 50vw;
    justify-content: space-between;
    max-height: 50%;
    padding-top: 45px;
    padding-right: 7.5vw;
}
header li {
    list-style-type: none;
}
header li a {
    color: #fff;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
header .icon {
    display: none;
}
@media only screen and (max-width: 870px) {
    .topnav {
        display: none;
    }
    header .icon {
        display: block;
        font-size: 50px;
        margin-top: 3vw;
        float: right;
        margin-right: 7.5vw;
    }
    .topnav.responsive {
        display: block;
        float: left;
        text-align: center;
        padding-top: 0;
        width: 100%;
    }  
}
/*
* Main page styling
*/
main {
    width: 100vw;
}
main article {
    width: 60%;
    padding: 75px 20%; 
}
main article.grey {
    background-color: #F0F0F0;
}
.backButton {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.backButton i {
    margin-right: 6px;
}
.backButton a {
    text-decoration: none;
    color: black;
}
.backButton a:hover {
    text-decoration: underline #d3000b 3px;
}
@media only screen and (max-width: 900px) {
    main article {
        width: 70%;
        padding: 30px 15%; 
    }
}
@media only screen and (max-width: 550px) {
    main article {
        width: 80%;
        padding: 30px 10%; 
    }
}
/*
*Footer styling
*/
footer {
    background-color: #000;
    color: #fff;
    width: 100vw;
}
footer article {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 4vw;
}
footer article h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
footer article section {
    width: max-content;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer article section li {
    font-size: 20px;
}
footer article section ul li  i {
    font-size: 28px;
    margin-right: 15px;
}
footer article.second {
    justify-content: space-between;
}
footer article.second section{
    margin-bottom: 0;
}
footer article.second section p {
    font-size: 16px;
    margin-bottom: 0;
}
footer article.second section span {
    font-size: 19px;
}
footer article.second section a {
    text-decoration: underline;
}

/*
* Banner styling 
*/
.banner {
    padding: 0;
    width: 100%;
}
.banner h1 {
    width: 100%;
    font-size: 68px;
    text-decoration: underline #d30009;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 65vh;
    text-align: center;
}
.banner img {
    width: 100%;
    max-height: 60vh;
}
